<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @clientetipo.descripcion %>
</p>


<%= link_to 'Edit', edit_clientetipo_path(@clientetipo) %> |
<%= link_to 'Back', clientetipos_path %>
