<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @documentotipo.descripcion %>
</p>


<%= link_to 'Edit', edit_documentotipo_path(@documentotipo) %> |
<%= link_to 'Back', documentotipos_path %>
